* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    height: 100vh;
    width: 100%; /* usare il 100% invece che il 100vh */
}
main {
    height: calc(100% - 100px);
    width: 100%;
}
footer {
    height: 100px;
    z-index: 0;
}
.main_nav {
    float: left;
    width: 320px;
    height: 100%;
    background-color: #000000;
    color: white;
    overflow: auto;
    padding: 20px 20px 0 20px;
}
.nav_element_flex {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.n_element {
    width: 100%;
    min-height: 100px;
}
.n_element.n_list {
    flex-grow: 1;
    overflow: auto;
}
.main_nav .n_logo img {
    height: 50px;
}
.main_content {
    float: left;
    height: 100%;
    width: calc(100% - 320px);
    background-color: #141922;
    overflow: auto;
    color: white;
}
.m_upgrade {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    text-align: right;
    width: calc(100% - 320px);
    background-color: rgba(0, 0, 0, 0.5);
}
.footer_container {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #282828;
    color: #ffffff;
}
.footer_container .f_box {
    height: 100%;
    text-align: center;
}
.footer_container > .song {
    width: 20%;
}
.footer_container > .play {
    width: 60%;
}
.footer_container > .volume {
    width: 20%;
}
